@model JWTLogin.Models.ViewModel.UserParamModel

@{ ViewBag.Title = "註冊用戶"; }

<h1>註冊用戶</h1>
<form asp-action="Signup" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Username">用 戶 名</label>
        <input asp-for="Username" />
        <span asp-validation-for="Username"></span>
    </div>
    <div>
        <label asp-for="Password">密 &nbsp;&nbsp;&nbsp;&nbsp;碼</label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="ConfirmPassword">確認密碼</label>
        <input asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <div>
        <input type="submit" value="註冊" />
    </div>
</form>
<h1> @ViewData["Signup"] </h1>

